<ion-view title="Ingredients">
    <ion-content class="has-header padding">
        <ion-list>
            <ion-item ng-repeat="(id, device) in peripheralManager.devices" type="item-text-wrap" href="#/tab/device/{{device.uuid}}">
               	RSSI:&nbsp;{{device.rssi}}'&nbsp;|&nbsp;Advertising: {{device.advertising}}<br/>
                {{device.uuid}}<br/>
                Distance:&nbsp;{{device.distance}}&nbsp;ft.<br/>
                Collected:&nbsp;{{device.isCollected}}<br/>
			</ion-item>
        </ion-list>
		<ion-list>
            <ion-item ng-repeat="ingredient in ingredients" type="item-text-wrap" href="#/ingredient/{{ingredient.id}}">
                {{ingredient.name}}
            </ion-item>
        </ion-list>
		
		<div class="padding">
		  <button class="button button-block button-stable" ng-click="checkout()"  ng-show="peripherelManager.isOnSite && peripheralManager.isCheckedIn">
			  <span>Checkout</span>
		  </button>
		</div>
		
        <!--<div class="padding">
            <button class="button button-block button-stable" ng-click="refreshDeviceList()"
                    ng-disabled="isDiscovering">
                Refresh List
            </button>
        </div>
        <div class="padding">
            Peripheral isConnected:&nbsp;{{peripheralManager.isConnected | json}}<br/>
            BLE isEnabled:&nbsp;{{peripheralManager.isEnabled | json}}<br/>
        </div>
		-->
    </ion-content>
</ion-view>
