<!--http://scotch.io/tutorials/javascript/angularjs-form-validation-->
<ion-view title="Forage">
<ion-nav-bar class="bar-stable nav-title-slide-ios7">
    </ion-nav-bar>
    <ion-content class="has-header padding">
	
        <h1>Welcome</h1>

		<p>
        	{{game.description}}
		</p>
		<label class="item item-input padding">
			<input type="text" ng-model="user.userName" placeholder="Name">
		</label>
        <div class="padding">
		  <button class="button button-block button-stable" ng-click="checkIn(user)"  ng-disabled="!(user.userName && peripheralManager.isOnSite)">
			  <span>Checkin</span>
		  </button>
		</div>
        <pre>user = {{user | json}}</pre>
    </ion-content>
</ion-view>
