<!--http://scotch.io/tutorials/javascript/angularjs-form-validation-->
<ion-view title="Forage">
    <ion-content class="has-header padding">
        <h1>Welcome</h1>

		<div>
        	{{game.details}}
		</div>
		<input type="text" ng-model="user.userName"> 
        <div class="padding">
		  <button class="button button-block button-stable" ng-click="checkIn()"  ng-disabled="!user.userName && !peripherelManager.isOnSite">
			  <span>Checkin</span>
		  </button>
		</div>
    </ion-content>
</ion-view>
