<ion-view title="{{recipe.name}}">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
        <a class="button icon-left ion-chevron-left button-clear button-dark" href="#/tab/recipes">Back</a>
    </ion-nav-bar>
  <ion-content has-header="true" padding="true">
      <article class="recipe">
          <section class="pic-description">
              <img class="recipe padding" ng-src="{{recipe.image}}" align="left">
              <span ng-bind-html="recipe.description"></span>
          </section>
          <section ng-bind-html="recipe.overview" class="overview"></section>
          <section>
              <h4>{{st.ingredients}}</h4>
                  <ul>
                      <li ng-repeat="ingredient in recipe.ingredients" type="item-text-wrap">
                      {{ingredient.description}}
                  </li>
                  </ul>
          </section>
          <section>
              <h4>{{st.directions}}</h4>
              <ol class="ordered">
                  <li ng-repeat="direction in recipe.directions" type="item-text-wrap">
                      {{direction}}
                  </li>
              </ol>
          </section>

      </article>
  </ion-content>
</ion-view>
