<ion-view title="RFduinos">
    <ion-content class="has-header padding">
        <ion-list>
            <ion-item ng-repeat="(id, device) in peripheralManager.devices" type="item-text-wrap" href="#/tab/device/{{device.uuid}}">
                {{device.name}}<br/>
                RSSI:&nbsp;{{device.rssi}}'&nbsp;|&nbsp;Advertising: {{device.advertising}}<br/>
                {{device.uuid}}<br/>
                Distance:&nbsp;{{device.distance}}&nbsp;ft.<br/>
                Collected:&nbsp;{{device.isCollected}}<br/>
            </ion-item>
        </ion-list>
        <!--<div class="padding">
            <button class="button button-block button-stable" ng-click="refreshDeviceList()"
                    ng-disabled="isDiscovering">
                Refresh List
            </button>
        </div>-->
        <div class="padding">
            Peripheral isConnected:&nbsp;{{peripheralManager.isConnected | json}}<br/>
            BLE isEnabled:&nbsp;{{peripheralManager.isEnabled | json}}<br/>
        </div>
    </ion-content>
</ion-view>
